/*.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    height: 100px;
}
*/
/*
.logo {
    position: fixed; 
   left: 50px;
   top: 10px;
    border-radius: 50%;
   z-index: -1;
   width:91px;
   height: 58px;
 } */
/*
.imgnav{  
   width: 70px;
   height: 70px;
} 
.topNav {
    overflow: hidden; 
    margin-left: 100px;
    width: fit-content;
  }
  
  .topNav a { 
    float: left;
    display: block;  
    margin-left: 10px;
    padding: 14px 14px;  
  }
    
  .topNav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topNav a.active {
    background-color: #04AA6D;
    color: white;
  }  
  .topNav .icon {
    display: none;
  }
  @media screen and (max-width: 600px) {
    .topNav a:not(:first-child) {display: none;}
    .topNav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topNav.responsive {position: relative;}
    .topNav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topNav.responsive a {
      float: none;
      display: block;
      
      background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    }
  } */
  svg {
    background: #f6d365;
}

 .mapadiv {
    width: 40%;
    height: 40%;
    margin: auto;


}

.mapadiv polygon {
    fill: #fdf9c4;
    /* stroke: black; */
    stroke-width: 18px;
}

.mapadiv path {
  fill: #fdf9c4;
  
  stroke-width: 10px;
}

.mapadiv a :hover{
  fill:#dac9df;
}

.st0 {
    fill: #AEB19E;
    fill-opacity: 0.5;
}

.st1 {
    font-family: 'MyriadPro-Regular';
}

.st2 {
    font-size: 32px;
}

.formulario {
    margin-top: 150px;
    margin-left: 25px;
}
/*
.pconst {
    margin-top: 150px;
    margin-left: 25px;
    animation-name: tracking-in-expand-fwd;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(cubic-bezier(0.075, 0.82, 0.165, 1));
    animation-fill-mode: forwards;
}
 
@-webkit-keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
 */