*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
    display: grid;
    grid-template-rows: 80px 500px 1000px 900px 60px;
}
/******** Inicio del header *********/
.header{
    height: 80px;
    position: relative;
}
.header_contacto{
    height:20vh;
    position: relative; 
}
.logo {
    position: fixed; 
    left: 50px;
    top: 10px;
    border-radius: 50%;
    z-index: -1;
    width:91px;
    height: 58px;
} 
.nav{
    position: fixed;
    z-index: 2;
    width:100%;
    background: #f6d365;
}

.barrio_caja{
    border-style:groove;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    margin-top: 00.5rem;
    margin-bottom: 0.5rem;
}

.detalles_escondidos{
    display: none;
}

#check{
    display:none;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.items {
    float: right; 
}

nav ul li{
    display: inline-block;
}
.nav_items{
    color: #000;
    line-height: 80px;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight:inherit;
    border: 1px solid  #fff;
}
.nav_items1{
    color: #fff;
    background-color: #FFC300;
    line-height: 80px;
    margin-right: 20px;
    padding: 10px 15px; 
    font-weight:inherit;
}
.nav_items2{
    color: #fff;
    background-color: #FF5733;
    line-height: 80px;
    margin-right: 20px;
    padding: 10px 15px; 
    font-weight:inherit; 
}
.nav_items3{
    color: #fff;
    background-color: #C70039;
    line-height: 80px;
    margin-right: 20px;
    padding: 10px 15px; 
    font-weight:inherit; 
}
.nav_items4{
    color: #fff;
    background-color: #900C3F;
    line-height: 80px;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight:inherit; 
}
.nav_items5{
    color: #fff;
    background-color: #581845;
    line-height: 80px;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight:inherit; 
}
/******** fin del header *********/
.bloque0 {
    width: 100%;
    height: 500px;
}

.slider{
    position: relative;
    width: 1500px;
    height: 400px;
    object-fit: fill;
}

.image-container {
    display: flex;
    width:500px;
    height: 500px;
    transition: transform 0.4s ease-in-out;
}



.btn{
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 50px;
    opacity: .5;
    cursor: pointer;
}

.btn.prev{
    left: 10px;
}

.btn.next{
    right: 10px;
}

.btn:hover {
    opacity: 1;
}

.head_img{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100px;
}


/******** inicio bloque1 *********/


.bloque1{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.bloque1_img{
    text-align: center;
}

.bloque1_picture{
    max-width: 80%;
}

.bloque1_paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}
/******** fin bloque1 *********/

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
    
}
.bloque2{
    background: #f6d365;
}

.bloque2_grid{
    display: grid;
    height: 800px;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img4 img5";
    gap: 10px;

}

.bloque2_items{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.bloque2_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.bloque2_items:nth-of-type(1){
    grid-area: img1;
}

.bloque2_items:nth-of-type(2){
    grid-area: img2;
}

.bloque2_items:nth-of-type(3){
    grid-area: img3;
}

.bloque2_items:nth-of-type(4){
    grid-area: img4;
}

.bloque2_items:nth-of-type(5){
    grid-area: img5;
}


.bloque2_hover{
    position: absolute;
    background: #f6d3658c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;

}

.bloque2_items:hover .bloque2_hover{
    transform: translateX(0%);
}


.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 60px; 
    background: #f6d365;
}


/******** inicio primer responsive ********

@media (max-width: 1000px){*/
@media   (min-width: 1200px) {
  
    /******** inicio header *********/

    .items {
        float: left;
        padding-left: 60%;  
    }
    
    #menu-cerrar{
        display: block;
    }

    .checkbtn{
        display: none;
    }

    .bloque0 {
        width: 100%;
        height: 500px;
    }
    
    .slider{
        position: relative;
        width: 100%;
        height: 400px;
        object-fit: fill;
    }
    
    .image-container {
        display: flex;
        width:500px;
        height: 500px;
        transition: transform 0.4s ease-in-out;
    }
    
    .slider ul {
        background-color: white;


    }
    /******** fin header *********/
    
    /******** inicio bloque 1 *********/
    .bloque1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"; 
    }  
    .grid1 {
        grid-area: a;
    }
    .grid2 {
        grid-area: b;
    }
    .grid4 {
        grid-area: c;
    }
    .grid3 {
        grid-area: d;
    }
    /******** fin bloque 1 *********/
    
    /******** inicio bloque 2 *********/
    .bloque2_grid{
    display: grid;
    height: 100%;
    grid-template-areas: 
    "img1 img1"
    "img1 img1"
    "img2 img3"
    "img4 img5";
    gap: 10px;
    }
    /******** fin bloque 2 *********/

} 
/******** fin primer responsive *********/












/******** inicio segundo responsive *********/


/*@media (max-width: 800px){ */

@media   (min-width: 640px) and (max-width: 1200px) {
    /******** inicio header *********/
    #menu-cerrar{
        display: none;
    }

    .checkbtn{
        display: block;
    }

    ul{
        position: absolute;
        background:#f6d365;
        z-index: 10;
        width: 100%;
        height: 70vh;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    
    nav ul li{
        display: block;
        z-index: 15;
        margin: 10px 0px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        display: block;
        left: 0;
    }

    #check:checked ~ label #menu-cerrar{
        display: block;
        left: 0;
    }

    #check:checked ~ label #menu-abrir{
        display: none;
        left: 0;
    }

    .slider{
        position: relative;
        width: 100%;
        height: 400px;
        object-fit: fill;
    }

    .image-container {
        display: flex;
        width:500px;
        height: 500px;
        transition: transform 0.4s ease-in-out;
    }
    
    .slider ul {
        background-color: white;
    }
    /******** fin header *********/
    
    /******** inicio bloque 1 *********/
    .bloque1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"; 
    }  
    .grid1 {
        grid-area: a;
    }
    .grid2 {
        grid-area: b;
    }
    .grid4 {
        grid-area: c;
    }
    .grid3 {
        grid-area: d;
    }
    /******** fin bloque 1 *********/
    
    /******** inicio bloque 2 *********/
    .bloque2_grid{
    display: grid;
    height: 100%;
    grid-template-areas: 
    "img1"
    "img2"
    "img3"
    "img4"
    "img5";
    gap: 10px;
    }
    /******** fin bloque 2 *********/

} 
/******** fin segundo responsive *********/
 


/******** inicio tercer responsive *********/

/**@media (max-width: 400px) */
@media  (max-width: 640px) {

    /******** inicio header *********/

    
    #menu-cerrar{
        display: none;
    }

    .checkbtn{
        display: block;
    }

   

    ul{
        position: absolute;
        background:#f6d365;
        z-index: 10;
        width: 100%;
        height: 70vh;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    
    nav ul li{
        display: block;
        z-index: 15;
        margin: auto;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        display: block;
        left: 0;
    }

    #check:checked ~ label #menu-cerrar{
        display: block;
        left: 0;
    }

    #check:checked ~ label #menu-abrir{
        display: none;
        left: 0;
    }

    .slider{
        position: relative;
        width: 100%;
        height: 400px;
        object-fit: fill;
    }

    .image-container {
        display: flex;
        width:500px;
        height: 500px;
        transition: transform 0.4s ease-in-out;
    }
    
    .slider ul {
        background-color: white;
    }
    /******** fin header *********/
    
    /******** inicio bloque 1 *********/
    .bloque1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"; 
    }  
    .grid1 {
        grid-area: a;
    }
    .grid2 {
        grid-area: b;
    }
    .grid4 {
        grid-area: c;
    }
    .grid3 {
        grid-area: d;
    }
    /******** fin bloque 1 *********/
    
    /******** inicio bloque 2 *********/
    .bloque2_grid{
    display: grid;
    height: 100%;
    grid-template-areas: 
    "img1"
    "img2"
    "img3"
    "img4"
    "img5";
    gap: 10px;
    }
    /******** fin bloque 2 *********/

} 
/******** fin tercer responsive *********/